<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>production</key>
	<string>https://www.mypproject.com/</string>
	<key>staging</key>
	<string>http://staging.mypprojcloud.com/</string>
	<key>development</key>
	<string>http://dev.mypprojcloud.com/</string>
</dict>
</plist>
